[Unit]
Description=IGVC22 Service
After=graphical.target

[Service]
Type=simple
User=igvc
ExecStart=/bin/bash /usr/bin/igvc_service.sh
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
