<launch>
    <!-- Manager -->
    <node name="system_manager" pkg="igvc_launch" type="system_manager.py" output="screen" required="true"/>

    <!-- Configure the robot -->
    <include file="$(find igvc_launch)/launch/config/igvc_robot_config.launch" />

    <!-- EKF -->
    <include file="$(find igvc_pf)/launch/igvc_pf.launch" />

    <!-- Run moving target D*lite and the path follower-->
    <include file="$(find igvc_nav)/launch/igvc_path_planner.launch" />

    <!-- Mapping -->
    <node name="igvc_slam_node" pkg="igvc_slam" type="igvc_slam_node.py" output="screen"/>

    <!-- <include file="$(find igvc_vision)/launch/igvc_lidar.launch"/> -->
    <include file="$(find igvc_vision)/launch/igvc_vision.launch"/>

    <!-- Serial and firmware -->
    <include file="$(find igvc_serial)/launch/all_serial.launch"/>

    <!-- Display -->
    <include file="$(find igvc_display)/launch/robot_display.launch"/>

    <!-- Joystick -->
    <node name="joy" pkg="joy" type="joy_node">
        <param name="deadzone" type="double" value="0.1" />
        <param name="autorepeat_rate" type="double" value="20.0" />
        <param name="coalesce_interval" type="double" value="0.05" />
        <param name="default_trig_val" type="bool" value="true" />
    </node>

    <!-- Manual Node -->
    <node name="manual_node" pkg="igvc_serial"  type="manual_node.py"/>

</launch>
